!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Welcome | Cali Ruby'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'User Server example for Cali Ruby meetup'}"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %main{:role => "main"}
      .container-fluid
        .main-flash-messages
          = render 'layouts/messages'
        = yield
